Adafruit-Blinka==8.63.0
adafruit-circuitpython-busdevice==5.2.13
adafruit-circuitpython-connectionmanager==3.1.5
adafruit-circuitpython-hcsr04==0.4.22
adafruit-circuitpython-requests==4.1.13
adafruit-circuitpython-typing==1.12.1
adafruit-circuitpython-us100==1.1.21
Adafruit-PlatformDetect==3.82.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
build==1.3.0
cbor2==5.7.0
certifi==2025.8.3
chardet==5.2.0
charset-normalizer==3.4.3
click==8.2.1
colorzero==2.0
distro==1.9.0
gpiozero==2.0.1
idna==3.10
lgpio==0.2.2.0
luma.core==2.5.1
luma.led-matrix==1.7.1
packaging==25.0
pigpio==1.78
pillow==11.3.0
pip-review==1.3.0
pip-tools==7.5.0
pyftdi==0.57.1
pyproject_hooks==1.2.0
pyserial==3.5
python-apt==2.6.0
pyusb==1.3.1
requests==2.32.4
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
six==1.17.0
smbus2==0.5.0
spidev==3.7
ssh-import-id==5.11
sysv-ipc==1.1.0
toml==0.10.2
typing_extensions==4.14.1
urllib3==2.5.0
